* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: cornflowerblue;
    padding: 10px;

}

footer {
    background-color: black;
    color: blanchedalmond;
    padding: 20px;
    text-align: center;
}

header {
    background-color: palegoldenrod;
    /* Enable flex mode. */
    display: flex;
    /* Spread out the elements inside the header. */
    justify-content: space-between;
    /* Align items vertically in the center. */
    align-items: center;
}

aside {
    grid-column: 3/4;
    background-color: lightcoral;
    padding: 20px;
}

/* MENU */

.menu-area a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: black;
    height: 50px;
    text-decoration: none;
}

.menu-area a:hover {
    background: tomato;
    color: #fff;

}

.menu-area ul {
    list-style: none;
    display: flex;
}

.menu-area li {
    position: relative;
    width: 100%;
    text-align: center;
}

.menu-area li:hover .dropdown-1>li {
    top: 0;
    display: block;
}

.dropdown-1 li {
    display: none;
    position: relative;
}

.dropdown-1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.dropdown-1 li:hover {
    display: block;
}

.cars {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.car {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.product-details {
    float: left;
    width: 70%;
}

.product-details p {
    margin: 5px 0;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    float: right;
    width: 30%;
}

.product-image img {
    max-width: 100%;
    max-height: 100%;
}

input {
    width: 30px;
}

h1 {
    text-align: center;
}

.product-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Asegura que los elementos estén alineados en la parte superior */
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    width: 100%;
    /* Asegura que la sección ocupe todo el ancho disponible */
}

.veterinario {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
}

.service-button button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.service-button button em {
    margin-left: 10px;
}

h1 {
    width: 100%;
    /* Asegura que el h1 ocupe todo el ancho disponible */
    text-align: center;
    /* Alinea el texto al centro */
}

.accesorios {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.accesorio {
    width: 100%;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    display: flex;
}

/* Estilos adicionales para el diseño del carro de compras */
.carrito-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px;
}

.carrito-products {
    width: 60%;
    padding: 20px;
}

.carrito-image {
    width: 30%;
}
.carrito-container+.carrito-products+img{
    width: 30%;
    float: right;
}
.carrito-image img {
    width: 100%;
    float: right; 
    bottom: 0px;
}